.stores-title > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--textc)
}

.stores-title {
    margin-bottom: 20px;
}

.container {
    margin-top: 30px;
}

.storelink {
    margin-right: 10px;
    min-width: 240px;
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border: 1px solid var(--textc);
    border-radius: var(--radius);
}

.storelink:hover {
    outline: 2px solid var(--textb);
}

.storelink {
padding: 10px;
}

#storelink-logo {
    width: 100px;
    margin-bottom: 10px;
}

#store-logo {
    width: 100px;
    margin-bottom: 10px;
}

.storelink-text > .storelink-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.storelink-text > .storelinktext {
    font-size: 16px;
    font-weight: 300;
}

.storelink-text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.off > b {
    font-size: 24px;
    font-weight: normal;
}

.store-link-buttons {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--alert-header-text);
    width: fit-content;
    border-radius: 5px;
}

.soon {
    background-color: var(--copyright-switzer);
}

.store-link-buttons > a,.store-link-buttons > a:hover  {
    color: var(--texte);
}

.the-flex {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
}
