.stores-title > h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--textc)
}

.stores-title {
    margin-bottom: 30px;
}

.container {
    margin-top: 30px;
}

.storelink, .col {
    margin: 10px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--textc);
    border-radius: 10px;
}


#storelink-logo {
    width: 100%;
    border-radius: 10px;
}

.storelink-text > .storelink-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.storelink-text > .storelinktext {
    font-size: 16px;
    font-weight: 300;
}

.storelink-text {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.off > b {
    font-size: 24px;
    font-weight: normal;
}

.store-link-buttons {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var( --textc);
    width: fit-content;
    border-radius: 10px;
}

.the-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1199) {
    .storelink {
        height: fit-content;
    }
    .store-link-buttons {
        margin-top: 0px;
        padding-top: 0px;
        border-top: 1px solid var(--textc);
    }
}


