@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --texta: #111111;
    --button: #35353a;
    --textb:#0d80f5ff;
    --black: #050505;
    /*
    --textb: #1D1D1F;
    */
    --outline: #e0e0e015;
    --textc: #e0e0e0;
    --textd: #0B31E1;
    --alert-header: #e0e0e0;
    --alert-header-text: #050505;
    --texte: #f8f8f8;
    --copyright-switzer: #7a7a7a;

    --radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter';
}

a {
    text-decoration:none;
}

body {
    color: var(--texta);
    background-color: var(--texte);
}

.removedor-de-container-content-da-segunda-pagina-de-produtos-listados {
    display: none;
}

/*BreadCrumb*/
.breadcrumb-margin {
    margin-top: 88px !important;
    border-bottom: 1px solid var(--textc);
}

.breadcrumb-item > a > img {
    width: 50px;
}

/*Categoria*/
.categories {
    padding-top: 20px;
    display: flex;
    padding-left: 10px;
    height: 100%;
    overflow-x: auto;
    width: 100%;
}

.cat > img {
    width: 120px;
    cursor: pointer;
    border-radius: 100%;
}

.cat > p {
    font-size: 16px;
    margin-top: 10px;
}

.cat {
    margin-right: 10px;
    color: var(--texta);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    width: 100%;
}

.cat > img:hover {
    outline: 2px solid var(--textb);
}


/*footer above*/

.accordion-button, .accordion-item {
    background-color: var(--texta) !important;
    color: var(--textc) !important;
    fill: var(--textc) !important;
    outline: 1px solid var(--outline) !important;
    border-radius: var(--radius) !important;
}

.accordion-button:hover {
    outline: 2px solid var(--textb) !important;
}

.footer-above {
    background-color: var(--texta);
}

.footer-above-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--textc);
    padding: 20px;
    justify-content: left;
}

.footer-above-info > span {
    margin-bottom: 10px;
}

.footer-above-info > a > img {
    margin-bottom: 20px;
}

.mapa > iframe {
    max-width: 500px;
    width: 100%;
    border-radius: var(--radius);
    max-height: 200px;

}

.mapa > iframe:hover {
    outline: 2px solid var(--textb);
}

.mapa {
    color: var(--textc);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.mapa > span {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.logo-footer {
    width: fit-content;
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--textc);
}

.footer-info {
    max-width: 500px;
    width: 100%;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}

.footer-info > p > a {
    color: var(--texta);
}

.footer-info > p > a:hover {
    text-decoration: underline;
}

.dev-footerinfo {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--copyright-switzer);
}

.dev-footerinfo  > a > img {
    width: 80px;
    margin-left: 4px;
    padding: 5px;
}

.dev-footerinfo  > a > img:hover {
    outline: 2px solid var(--textb);
    border-radius: var(--radius);
}

/*HEADER*/

/*offcanvas*/
@media (max-width: 991px) {
    .headertextalert > a {
        display: none !important;
    }

    .offcanvas-box {
        display: block !important;
    }
}

@media (max-width: 630px) {
    .headerlinks{
        display: none !important;
    }
}

.burguer {
    width: 30px;
    height: 30px;
}

.btn-nobackground {
    background-color: transparent !important;
    border: none !important;
}

.offcanvas-header {
    background-color: none !important;
}

.offcanvas  {
    background-color: var(--texte) !important;
    border-left:  1px solid var(--textc) !important;
}

.btn-close2 {
    margin-right: 20px !important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23000'%3e%3cpath d='m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z'/%3e%3c/svg%3e") center/2em auto no-repeat !important;
}

.offcanvas-header2 {
    flex-direction: row-reverse;
    margin-top: 20px;
}


.off-canva-links > li > a {
    border: none !important;
    padding: 0 !important;
    font-size: 18px !important;
}


.off-canva-links {
    list-style: none;
}

.off-canva-links > li {
    margin-bottom: 10px !important;

}

.off-canva-links > li:nth-child(2) {
    border-bottom:  1px solid var(--textc);
    padding-bottom: 10px;
}

.btn-close:focus {
    box-shadow:  none !important;
}

/*offcanvas*/

.alert-header {
    margin-top: 72px;
    text-align: center;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px !important;
    padding: 10px;
    border-radius: 0px !important;
    background-color: var(--alert-header);
}

.alert-header > span > a {
    color: var(--alert-header-text);
    text-decoration: underline;
}

.mainheader {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    border-bottom:  1px solid var(--textc);
    background-color: var(--texte);
}

.headercont {
    padding: 15px 0px 15px 0px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.logo-e-link {
    display: flex;
}

.logocont {
    max-width: 120px;
    max-height: 120px;
    margin-right: 25px;
}

.logocont:hover {
    outline: 2px solid var(--textb);
    border-radius: 5px;
}

.headertextalert a:nth-child(1) {
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    border: 1px solid var(--texta);
    color: var(--texta) !important;
    background-color: transparent !important;
}

.headertextalert a:nth-child(1):hover {
outline: none !important;
}

#headertextalert{
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    background-color: var(--texta);
    color: var(--textc);
}

#headertextalert:hover {
    outline: 2px solid var(--textb);
}


#logocont {
    width: 100%;
}

.headerlinks {
    list-style: none;
    display: flex;
    border-left: 1px solid var(--textc);
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    padding: 0px !important;
}

.headerlinks > li {
    margin-left: 30px;
}
.headerlinks > li > a {
    color: var(--texta);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

#offline {
   color: #7a7a7a !important;
}


.headerlinks > li > a:hover {
    text-decoration: underline;
}



/*banner*/
.bannercont {
    margin: 0 auto;
}

#bannerimg {
    width: 100%;
    height: 300px;
    border-radius: var(--radius);
    object-fit: cover;
    object-position: center;
}

/*pin*/
.m {
    margin-bottom: 20px;
}

.pin-title > h3 {
    position: relative;
    padding-bottom: 15px;
}

.pin-title > h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--textb);
    height: 3px;
    border-radius: 10px;
    width: 100px;
}

.row-cont > div {
    display: flex;
    flex-wrap: wrap;
}

.emphacont {
    display: flex;
    width: 25%;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid var(--textc);
    align-items: left;
    transition: 0.1s linear;
}

.emphacont:hover {
    -webkit-box-shadow: 0px 0px 80px -57px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 80px -57px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 80px -57px rgba(0,0,0,0.75);
}

#emphaimg, .emphaimg {
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #ffffff09;
}

.emphatext {
    color: var(--texta);
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.titlespantext{
    display: flex; align-items: left; flex-direction: column-reverse; justify-content: left;
}

#emphatitle {
    margin-bottom: 2px;
    font-size: 18px;
}

#emphatitlehub {
    padding: 2px 4px 2px 4px;
    border-radius: var(--radius);
    color: var(--textb);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

#emphatext {
    margin-bottom: 20px;
    max-width: 658;
    overflow: hidden;
    text-overflow:clip;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#namemark {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 12px;
}


#directlink {
    color: var(--texte);
    background-color: var(--textb);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.1s linear;
}

.pricebox{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: left;
    justify-content: center;
}


#pricewas {
    font-size: 16px;
    text-decoration: line-through;
    text-transform: uppercase;
}

#pricenow {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.cupombox {
    display: none;
    margin-bottom: 10px;
}

#cupomid {
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    color: var(--textb);
    background-color: #00c79c17;
}

.seemore {
    border: 1px solid var(--textc);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seemore > a:hover {
    text-decoration: underline;
}

/*Carroussel*/

.carousel-control-next-icon {
    background-image: url(https://raw.githubusercontent.com/carloscdf/atacadaodossuplementos/c3822d4db8a90b01bd342c81200cbdbd19f35393/assets/carousel/arrow-icon.svg) !important;
}

.carousel-control-prev-icon {
    background-image: url(https://raw.githubusercontent.com/carloscdf/atacadaodossuplementos/c3822d4db8a90b01bd342c81200cbdbd19f35393/assets/carousel/arrow-icon-prev.svg) !important;
}

/*
.carousel-item > a > img {
    border-radius: var(--radius);
}
*/
.carousel-item > a > .mobile {
    display: none !important;
}


/*responsive*/

@media (max-width: 768px) {

    .emphacont {
        width: 33.3%;
    }
}

@media(max-width: 1300px) {
    
    .headercont {
        width: 95%;
    }

    .bannercont {
        width: 95%;
    }
    .container  {
        width: 90%;
    }
}

@media(max-width: 575.98px) {
    .removedor-de-container-content-da-segunda-pagina-de-produtos-listados {
        display: none !important;
    }

    /*Categories*/
    .cat > img:hover {
        outline: 0px;
    }

    .storelink:hover {
        outline: 0px !important ;
    }
    /*product pin*/
    .row-cont {
        display: flex;
        flex-wrap: wrap;
    }

    .titlespantext {
        margin-top: 5px !important;
    }

    .emphacont {
        border-radius: 0px !important;
        width: 50%;
        margin-top: 0px !important;
    }

    .emphacont:hover {
        outline: none;
    }

    #emphatitlehub {
        font-size: 11px ;
    }

    #emphatitle {
        font-size: 16px;
    }

    #namemark {
        font-size: 10px;
    }

    #pricenow {
        font-size: 18px;
    }

    .pricebox {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #emphatext {
        display: none;
    }

    .emphatext {
        margin: 0px 0px 0px 9px;
    }

    #store-logo {
        margin-top: 8px;
        width: 60px !important;
        margin-bottom: 2px !important;
    }

    /*Carousel*/
    .carousel-item > a > .desktop {
        display: none !important;
    }

    .carousel-item > a > .mobile {
        display: block !important;
    }


    .row-mobile {
        flex-direction: column;
    }

    .emphacont {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    #emphaimg, .emphaimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer-info {
        width: 97%;
    }

    .titlespantext{
        margin-top: 30px;
    }
}