.yellow-firday-banner > img{
    width: 500px;
    padding: 0px 30px 30px 30px;
}

.yellow-firday-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

td, th {
    color: var(--texta);
}

td {
    overflow-x: auto;
}

thead, tr {
    border-bottom: 1px solid var(--textc);
}

td > a {
    text-decoration: underline;
}
.page2 {
    margin-bottom: 20px;
}
th > img{
    border-radius: 10px;
    border: 1px solid var(--textc);
    width: 150px;
}

.price-box {
    font-size: 18px;
    font-weight: bold;
}

.image-td {
    width: 0%;
}

.txt-table {
    text-transform: uppercase;
}

@media(max-width: 468px) {



    .yellow-firday-banner > img {
        width: 80%;
    }

    th > img{
        width: 100px;
    }

    th {
        font-size: 11px;
    }

    .price-box {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }
}